@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-snap-type: y mandatory;
  background-color: #0b0b0b;
  color: white;
  font-family: 'Poppins', sans-serif;
}
section {
  scroll-snap-align: start;
}
